<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 flex_test-item">
  <%= link_to image_tag(post.main_image), post_path(post) %>
    <div class="p-5">
      <%= link_to post.title, post_path(post), class: "mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white" %>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><%= post.description %></p>
        <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            <%= post.business_attribute_i18n %>
        </a>
        <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            <%= post.age_group_i18n %>
        <% post.tags.each do |tag| %>
          <%= link_to tag.name, '#', class: 'inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800' %>
        <% end %>  
        </a>
    </div>
</div>